<div class="refuels-history">
    <h1 class="history__title">List of Refuels</h1>
    <hr>
    <div class = "history__datatable">

        <mat-form-field class="history__search-field">
            <mat-label>Search:</mat-label>
            <input matInput placeholder="Example: RPR32310" value="" (input)="onSearchChange($event.target.value)">
        </mat-form-field>

        <table style="width:100%" mat-table [dataSource]="dataSource" matSort >
      
        
            <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{ row.date | date }} </td>
            </ng-container>

            <ng-container matColumnDef="fuelType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fuel Type </th>
            <td mat-cell *matCellDef="let row;">  {{row.fuelType}}  </td>
            </ng-container>

            <ng-container matColumnDef="fuelAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fuel Amount </th>
                <td mat-cell *matCellDef="let row"> {{row.fuelAmount}} </td>
            </ng-container>

            <ng-container matColumnDef="unitPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
                <td mat-cell *matCellDef="let row"> {{row.unitPrice}} </td>
            </ng-container>
          
            <ng-container matColumnDef="meterStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MeterStatus </th>
                <td mat-cell *matCellDef="let row"> {{row.meterStatus}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row"> 
                    <button mat-icon-button (click)="openInfoDialog(dataSource.filteredData.indexOf(row))">
                        <mat-icon style="color:rgb(0, 132, 255)">info</mat-icon>
                   </button>
                    <button mat-icon-button (click)="openEditDialog(dataSource.filteredData.indexOf(row))">
                        <mat-icon style="color:rgb(20, 121, 0)">create</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openDeleteDialog(dataSource.filteredData.indexOf(row))">
                        <mat-icon style="color:rgba(255, 30, 0, 0.747)">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['date', 'fuelType', 'fuelAmount', 'unitPrice','meterStatus', 'action']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['date', 'fuelType', 'fuelAmount', 'unitPrice','meterStatus','action']"></tr>
            
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>