<div class="sidebar">
    <div class="sidebar__logo"> 
        <p>GAS STATION SIMULATOR</p>
    </div>
    <div class="sidebar__sections">
        <div class="sidebar__section--button"><p>Gasoline</p>
            <button routerLink="general/addentry" 
            routerLinkActive="active"
            class="sidebar__section--feature-button">Add Entry</button>
            <button routerLink="general/refuelinghistory" 
            routerLinkActive="active"
            class="sidebar__section--feature-button">Open Transactions</button>
        </div>
        <div class="sidebar__section--button">test 1</div>
        <div class="sidebar__section--button"> test2</div>
    </div>
    <div class="sidebar__footer"> footer</div>
</div>
